.venv/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
__pycache__/
*.pyc
seaweed_test.txt

# MLflow local storage
mlflow.db
mlartifacts/

# Generated ML models
models/*
!models/StackedEnsemble_AllModels_1_AutoML_1_20260904_204429
!models/leaderboard.csv
